In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from array import *
from pickle import dump

import numpy as np
import pandas as pd
import seaborn as sns
import timeit
    
# IMPORTANTE: Dejad este conjunto de lineas #
gpus = tf.config.experimental.list_physical_devices('GPU')
for gpu in gpus:
    tf.config.experimental.set_memory_growth(gpu, True)
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
#############################################

Num GPUs Available:  2

In [2]:
# Extraemos del repositorio los datos correspondientes al consumo total desde enero de 2019 hasta ... de 2020

# Año 2019
data_2019_01 = 'https://figshare.com/ndownloader/files/28120056'
data_2019_02 = 'https://figshare.com/ndownloader/files/28120059'
data_2019_03 = 'https://figshare.com/ndownloader/files/28120062'
data_2019_04 = 'https://figshare.com/ndownloader/files/28120176'
data_2019_05 = 'https://figshare.com/ndownloader/files/28120242'
data_2019_06 = 'https://figshare.com/ndownloader/files/28120620'
data_2019_07 = 'https://figshare.com/ndownloader/files/28120671'
data_2019_08 = 'https://figshare.com/ndownloader/files/28128426'
data_2019_09 = 'https://figshare.com/ndownloader/files/28128453'
data_2019_10 = 'https://figshare.com/ndownloader/files/28128447'
data_2019_11 = 'https://figshare.com/ndownloader/files/28128408'
data_2019_12 = 'https://figshare.com/ndownloader/files/28128396'

# Año 2020
data_2020_01 = 'https://figshare.com/ndownloader/files/28128441'
data_2020_02 = 'https://figshare.com/ndownloader/files/28128369'
data_2020_03 = 'https://figshare.com/ndownloader/files/28130424'
data_2020_04 = 'https://figshare.com/ndownloader/files/28128384'
data_2020_05 = 'https://figshare.com/ndownloader/files/28130430'
data_2020_06 = 'https://figshare.com/ndownloader/files/28130433'
data_2020_07 = 'https://figshare.com/ndownloader/files/28130613'
data_2020_08 = 'https://figshare.com/ndownloader/files/28130691'
data_2020_09 = 'https://figshare.com/ndownloader/files/28130694'
data_2020_10 = 'https://figshare.com/ndownloader/files/28130688'
data_2020_11 = 'https://figshare.com/ndownloader/files/28130697'

In [3]:
sources = [data_2019_01, data_2019_02, data_2019_03, data_2019_04, data_2019_05, data_2019_06, data_2019_07, data_2019_08, data_2019_09, data_2019_10, data_2019_11, data_2019_12,
           data_2020_01, data_2020_02, data_2020_03, data_2020_04, data_2020_05, data_2020_06, data_2020_07, data_2020_08, data_2020_09, data_2020_10, data_2020_11]

### Con esta función extraería todo el conjunto de datos a la vez, pero falta memoria ram

In [4]:
def extraer_todos_datos_id(id):
    lista_df = []

    for x in sources:
        data = extraer_datos_csv_id(x, id)
        lista_df.append(data)

    return pd.concat(lista_df).reset_index(drop=True)

def extraer_datos_csv_id(x, id):
        df = pd.read_csv(x, compression='gzip', header=0, sep=',', quotechar='"', on_bad_lines='skip')
        df.columns = ['datetime', 'id', 'value']
        df['datetime'] = pd.to_datetime(df['datetime'], unit='s')
        
        condicion = df.loc[:, 'id'] == id
        df_seleccion = df.loc[condicion]
        
        return df_seleccion

In [5]:
start_time = timeit.default_timer()

df_id_17 = extraer_todos_datos_id(17)

elapsed = timeit.default_timer() - start_time

In [6]:
df_id_17

                 datetime    id  value
0     2019-01-01 03:00:00  17.0  0.087
1     2019-01-01 03:15:00  17.0  0.100
2     2019-01-01 03:30:00  17.0  0.084
3     2019-01-01 03:45:00  17.0  0.057
4     2019-01-01 04:00:00  17.0  0.167
...                   ...   ...    ...
64451 2020-11-03 22:00:00  17.0  0.031
64452 2020-11-03 22:15:00  17.0  0.055
64453 2020-11-03 22:30:00  17.0  0.019
64454 2020-11-03 22:45:00  17.0  0.021
64455 2020-11-03 23:00:00  17.0  0.052

[64456 rows x 3 columns]

In [7]:
elapsed

10077.374145206064

In [8]:
df_id_17.to_csv('datasources/THC-id-17-original.csv', index=False)

In [9]:
data = pd.read_csv('datasources/THC-id-17.csv', low_memory=False)

In [10]:
data

                  datetime    id  value
0      2019-01-01 03:00:00  17.0  0.087
1      2019-01-01 03:15:00  17.0  0.100
2      2019-01-01 03:30:00  17.0  0.084
3      2019-01-01 03:45:00  17.0  0.057
4      2019-01-01 04:00:00  17.0  0.167
...                    ...   ...    ...
64451  2020-11-03 22:00:00  17.0  0.031
64452  2020-11-03 22:15:00  17.0  0.055
64453  2020-11-03 22:30:00  17.0  0.019
64454  2020-11-03 22:45:00  17.0  0.021
64455  2020-11-03 23:00:00  17.0  0.052

[64456 rows x 3 columns]

In [ ]:
df = pd.read_csv(x, compression='gzip', header=0, sep=',', quotechar='"', on_bad_lines='skip')
df.columns = ['datetime', 'id', 'value']
df['datetime'] = pd.to_datetime(df['datetime'], unit='s')

In [18]:
df

                    datetime        id     value
0        2020-11-01 03:00:00       2.0     0.020
1        2020-11-01 03:00:00       3.0     0.039
2        2020-11-01 03:00:00       5.0     0.048
3        2020-11-01 03:00:00       6.0     0.000
4        2020-11-01 03:00:00       9.0     0.033
...                      ...       ...       ...
35468775 2020-11-06 04:45:00  143859.0  1058.400
35468776 2020-11-06 05:00:00  143859.0  1058.400
35468777 2020-11-06 05:15:00  143859.0  1020.600
35468778 2020-11-06 05:30:00  143859.0  1020.600
35468779                 NaT       NaN       NaN

[35468780 rows x 3 columns]

In [23]:
condicion = df.loc[:, 'id'] == 2
df_seleccion = df.loc[condicion]
df_seleccion

                datetime   id  value
0    2020-11-01 03:00:00  2.0  0.020
5    2020-11-01 03:15:00  2.0  0.036
10   2020-11-01 03:30:00  2.0  0.033
15   2020-11-01 03:45:00  2.0  0.016
20   2020-11-01 04:00:00  2.0  0.025
...                  ...  ...    ...
1912 2020-11-06 16:00:00  2.0  0.039
1913 2020-11-06 16:15:00  2.0  0.056
1914 2020-11-06 16:30:00  2.0  0.101
1915 2020-11-06 16:45:00  2.0  0.223
1916 2020-11-06 17:00:00  2.0  0.218

[537 rows x 3 columns]

In [24]:
start_time = timeit.default_timer()

df_id_2 = extraer_todos_datos_id(2)

elapsed = timeit.default_timer() - start_time

In [25]:
df_id_2

                 datetime   id  value
0     2019-05-23 13:45:00  2.0  0.007
1     2019-05-23 14:00:00  2.0  0.023
2     2019-05-23 14:15:00  2.0  0.023
3     2019-05-23 14:30:00  2.0  0.014
4     2019-05-23 14:45:00  2.0  0.020
...                   ...  ...    ...
50830 2020-11-06 16:00:00  2.0  0.039
50831 2020-11-06 16:15:00  2.0  0.056
50832 2020-11-06 16:30:00  2.0  0.101
50833 2020-11-06 16:45:00  2.0  0.223
50834 2020-11-06 17:00:00  2.0  0.218

[50835 rows x 3 columns]

In [26]:
elapsed

10004.03984480584

In [27]:
df_id_2.to_csv('datasources/THC-id-2-original.csv', index=False)